div.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
    display:none;
}
div.overlay.visible {
    display:block;

}
div.modal.visible {
    display: block;
}
div.modal-body {
    max-height: 500px;
    overflow-y: scroll;
}
