<div class="overlay" [ngClass]="{'visible':isOpen}" ></div>
<div id="myModal" class="modal" [ngClass]="{'visible':isOpen}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeDialog()">&times;</button>
                <h4 class="modal-title">Редактирование (добавление) фермы</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="farm">
                    <div class="form-group">
                        <label>Имя фермера</label>
                        <input type="text" class="form-control input-md" [(ngModel)]="farm.farmerName">
                    </div>
                    <div class="form-group">
                        <label>Название фермы</label>
                        <input type="text" class="form-control input-md" [(ngModel)]="farm.farmName">
                    </div>
                    <div class="form-group">
                        <label for="culture">Культура</label>
                        <select id="culture" class="form-control" [(ngModel)]="farm.cultureId">
                            <option *ngFor="let culture of cultures" [value]="culture.id"> {{culture.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="region">Регион</label>
                        <select id="region" class="form-control" [(ngModel)]="farm.regionId">
                            <option *ngFor="let region of regions" [value]="region.id"> {{region.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lastYearHarvestInTonnes">Урожай в тоннах за прошлый год</label>
                        <input id="lastYearHarvestInTonnes" type="text" class="form-control input-md" [(ngModel)]="farm.lastYearHarvestInTonnes">
                    </div>
                    <div class="form-group">
                        <label for="area">Площадь фермы в гектарах</label>
                        <input id="area" type="text" class="form-control input-md" [(ngModel)]="farm.area">
                    </div>
                    <div class="form-group">
                        <label>Широта</label>
                        <input type="text" class="form-control input-md" [(ngModel)]="farm.lat">
                    </div>
                    <div class="form-group">
                        <label>Долгота</label>
                        <input type="text" class="form-control input-md" [(ngModel)]="farm.lon">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeDialog()">Закрыть</button>
                <button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
