<nav>
    <ul class="pagination" *ngIf="totalPages > 1">
        <li class="page-item" [ngClass]="{'disabled': !hasPrevious() || disabled}"><a class="page-link" (click)="onPrev(!hasPrevious())">{{settings.prevPage}}</a></li>
        <li *ngFor="let i of getPages(1, totalPages)" class="page-item" [ngClass]="{'active':isActive(i), 'disabled': disabled || i == settings.rangeStepName}">
            <a class="page-link" (click)="setPage(i, $index,  i == settings.rangeStepName)">{{i}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': !hasNext() || disabled}"><a class="page-link" (click)="onNext(!hasNext())">{{settings.nextPage}}</a></li>
    </ul>
    <div class="limit-container">
        <label for="limit">Показать на странице:</label>
        <select id="limit" class="form-control"
                [(ngModel)]="limit"
                (change)="setLimit()">
            <option *ngFor="let op of limits" [value]="op">{{op}}</option>
        </select>
    </div>
</nav>
