<h1>Список ферм</h1>

<paging [page]="filter.page" [limit]="filter.count" [total]="page.total" (changePage)="onChangePaging($event)"></paging>

<!--<p *ngIf="!isLoaded"><em>Загрузка...</em></p>-->
<button type="button" class="btn btn-default" (click)="add()"><span class='glyphicon glyphicon-plus'></span> Добавить ферму</button>

<table class='table'>
    <thead>
        <tr>
            <th>Имя фермера</th>
            <th>Название фермы</th>
            <th>Культура</th>
            <th>Регион</th>
            <th>Урожай</th>
            <th>Площадь</th>
            <th style="width:100px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let farm of page.items">
            <td>{{ farm.farmerName }}</td>
            <td>{{ farm.farmName }}</td>
            <td>{{ farm.culture.name }}</td>
            <td>{{ farm.region.name }}</td>
            <td>{{ farm.lastYearHarvestInTonnes }}</td>
            <td>{{ farm.area }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" (click)="edit(farm)"><span class='glyphicon glyphicon-edit'></span></button>
                    <button type="button" class="btn btn-default" (click)="delete(farm)"><span class='glyphicon glyphicon-trash'></span></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<farm-edit [open]="editModalOpen" (close)="editModalOpen=false;" (updated)="load()" [farm]="currentFarm"></farm-edit>
